.container-lg {
    margin-top: 24px;
    background-color: aliceblue;
    padding-bottom: 32px;
    height: 100vh;
}

h1{
    text-align: center;
}

.form-upload {
    margin-top: 48px;
}

#button{
    margin-top: 15px;
    text-align: center;
}

#walletButton{
    border-radius: 10px;
}

#formFileLg{
    margin-top: 24px;
}